@import "./content/sass/shared";

.app {
  padding-top: 55px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  z-index: 1;
}

@import "./components/Nav/nav";
@import "./components/UI/Loader/loader";
@import "./components/Home/home";
@import "./components/List/list";
@import "./components/Detail/detail";
@import "./components/Cart/cart";
@import "./components/CartLink/cartLink";
@import "./components/LiveSearch/liveSearch";